<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.ac.bcu"
      android:versionCode="1"
      android:versionName="1.0">
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- BEGIN APP -->
    <application android:label="@string/app_name"
                 android:allowBackup="true"
                 android:icon="@drawable/icon">
        
        <!-- Main activity -->
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Location search activity -->
        <activity android:name="LocationSearchActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Set this search to use the Search activity -->
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchableActivity" />
        </activity>
        
        <!-- Job search activity -->
        <activity android:name="JobSearchActivity"
                  android:launchMode="singleTop">
        </activity>
        
        <!-- Search bar activity, this performs the searches -->
        <activity android:name=".SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        
        <!-- Saved Jobs activity -->
        <activity android:name=".SavedJobsActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SAVEDJOBS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
    <!-- END APP -->
</manifest> 
